body, html {
    height: 100%;
    background: #fff url(../img/noise.png);
}

/* Smooth transition of hover effect */
a {
    transition: color 0.2s ease-in-out;
}

/* Fancy serif font for headings and brand */
h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* Fancy horizontal rule */
hr {
    background: transparent url(../img/hr.png) repeat-x 0 0;
    border: 0;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 30px 0;
}

h1, h2 {
	color: #ee9934; /* orange */
}

code {
    border-radius: 3px;
    color: inherit;
    background-color: #f3f3f3;
}

pre {
    border-radius: 3px;
    font-size: 0.85em;
    border: 0;
    background-color: #f3f3f3;
}

/* A misuse of an element... */
section {
    background-color: #e5eff4; /* solid form of below */
    background-color: hsla(200, 100%, 30%, 0.1); /* alpha light grey-blue */
    border-top: 1px solid #bdd1dc;
    border-bottom: 1px solid #bdd1dc;
}

/* Harvest logo at various sizes. This is to be used inline with text */
.harvest-logo-16 {
    display: inline-block !important;
    background: transparent url(../img/5grain-16.png) no-repeat;
	background-image: url(../img/5grain.svg), none;
    height: 14px;
    width: 14px;
    background-size: 14px 14px;
}

.harvest-logo-24 {
    display: inline-block !important;
    background: transparent url(../img/5grain-24.png) no-repeat;
	background-image: url(../img/5grain.svg), none;
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
}

/* Light text shadow for elements that have a light background */
pre, code, #header, #footer, section {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

/* Header and footer style */

#header, #footer {
    border-color: #e1dcd0; /* light brown */
    background-color: #f6f3ee; /* solid form of below */
    background-color: hsla(42, 32%, 51%, 0.1); /* alpha beige */
    color: #755e33; /* brown */
}

#footer {
    width: 100%;
    font-size: 0.85em;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    margin: 0;
    border-top: 1px solid #e1dcd0;
}

#header {
    margin-bottom: 0;
}

#header a:link, #header a:visited, #footer a:link, #footer a:visited {
    color: #755E33;
}

#header a:hover, #header a:active, #footer a:hover, #footer a:active {
    color: #524224;
}

/* Float harvest logo to prevent increasing header size */
#header .harvest-logo-24 {
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}

/* Roughly match font-size to logo size */
#header .navbar-brand {
    font-size: 26px;
}

#attribution {
    text-align: right;
    padding: 2px 25px;
    color: #777;
    border-bottom: 1px dashed #e3e3e3;
}

#attribution a:link, #attribution a:visited {
    color: inherit;
}

#attribution a:hover, #attribution a:active {
    color: #448CCA;
}

.cbmi-logo {
    transition: opacity 0.2s;
    display: inline-block;
	background: transparent url(../img/cbmi-15.png) no-repeat;
    background-image: url(../img/cbmi.svg), none;
    height: 15px;
    width: 54px;
    background-size: 54px 15px;
    margin: 0 2px;
    vertical-align: text-top;
    opacity: 0.7;
}

.cbmi-logo:hover {
    opacity: 1;
}

/* Structural element which enables keeping the footer *stuck* to
    the bottom of the page. */
#wrap {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 185px;
}

#wrap > section, #wrap > section > .container {
    margin-bottom: 10px;
}

.jumbotron {
    background: none;
    border: 0;
}

.container .jumbotron {
    padding: 0;
    margin: 40px 0;
}

/* Remove excessive padding around jumbotron within a container */
.jumbotron .harvest-wheat {
    display: inline-block;
	background: transparent url(../img/wheat-98.png) no-repeat;
    background-image: url(../img/wheat.svg), none;
    width: 98px;
    height: 100px;
    background-size: 116px 120px;
    float: left;
    margin-right: 10px;
}

.jumbotron h2 {
    margin-top: 0;
}

/* Page-related styles */
.page-header h1 {
    color: #277097; /* navy */
}

.intro-text {
    font-style: italic;
    font-weight: 200;
	font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.date {
    color: #aaa;
}

.meta {
    font-size: 0.85em;
    color: #aaa;
}

/* Inherit color of normal text so it does not attract the eye */
.meta a {
    color: inherit;
}

.hidden-sm {
    display: inline-block !important;
}

/* Use 2x sized images for retina-based displays */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}

@media (max-width: 768px) {
    #footer {
        position: static;
        margin-top: 30px;
    }
    #wrap {
        padding-bottom: 0;
    }
    .jumbotron {
        text-align: center;
    }
    .container .jumbotron {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .jumbotron h1 {
        margin-top: 0;
    }
    .jumbotron h2 {
        font-size: 24px;
    }
    .jumbotron .harvest-wheat {
        width: 67px;
        height: 67px;
        background-size: 79px 79px;
        float: none;
    }
    #attribution {
        text-align: center;
    }
    h3 {
        font-size: 20px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #wrap {
        padding-bottom: 220px;
    }

    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: 768px) {
    #header .navbar-collapse .navbar-nav {
        text-align: right;
    }
}
