---
layout: base
---

{% include header.html %}

<div class=container>
    <div class=row>
        <div class=col-sm-12>
            <div class=jumbotron>
                <span class=harvest-wheat></span>

                <h1>Discover Harvest</h1>
                <h2>Explore your data, <em>not</em> your database.</h2>
                <p class=lead>Designed by and for biomedical researchers, The Harvest Stack is an <strong>open source BSD-licensed</strong> toolkit for building web applications for integrating, discovering, and reporting data.</p>

                <p><a class="btn btn-success" href="{{ site.baseurl }}demo/" target=_blank><i class="fa fa-cloud"></i> Try the Demo</a> <!--<a class="btn btn-primary" href="{{ site.baseurl }}resources/"><i class="fa fa-play-sign"></i> Watch &amp; Learn</a>--> <a class="btn btn-default" href="{{ site.baseurl }}about/"><i class="fa fa-info-circle"></i> Read More</a></p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class=row>
            <div class=col-sm-6>
                <h3><i class="fa fa-github"></i> Open Source &amp; Available on GitHub</h3>
                <p>We believe in open source software and <a href="https://github.com/cbmi/">open-source our work</a>. Harvest is licensed under BSD 2-clause License.</p>
            </div>

            <div class=col-sm-6>
                <h3><i class="fa fa-html5"></i> Web-Based Technologies</h3>
                <p>Harvest comes with an HTML5 web client backed by a set of discoverable REST APIs.</p>
            </div>
        </div>

        <div class=row>
            <div class=col-sm-6>
                <h3><i class="fa fa-medkit"></i> Designed for Biomedical Data First</h3>
                <p>Created by the <a href="http://cbmi.chop.edu" target=_blank>Center for Biomedical Informatics</a> at <a href="http://www.research.chop.edu" target=_blank>The Children's Hospital of Philadelphia Research Institute</a>, Harvest addresses the unique needs of biomedical researchers.</p>
            </div>

            <div class=col-sm-6>
                <h3><i class="fa fa-trophy"></i> Nationally Funded (This is Real)</h3>
                <p>National Human Genome Research Institute (NHGRI), National Institute on Deafness and Other Communication Disorders (NIDCD), National Heart, Lung and Blood Institute (NHLBI), <a href="{{ site.baseurl }}resources/">and others</a> have funded Harvest applications.</p>
            </div>
        </div>
    </div>
</section>

<div class=container>
    <div class=row>
        <div class=col-sm-6>
            <h3><span class="fa fa-bullhorn"></span> Announcements</h3>

            {% include announcements.html %}
        </div>

        <div class=col-sm-6>
            <h3><span class="fa fa-envelope"></span> Mailing List</h3>

            {% include mailing_list_form.html %}
        </div>
    </div>
</div>

{% include footer.html %}
