{% extends "base.html" %}

{% block header %}
    <section id="promo" class="clearfix">
        <div id="title">
            <img class="box_demo" src="{{ STATIC_URL }}images/box-demo.png" alt="Demo">
            <h1>Download</h1>
            <h2>Get Your Hands Dirty</h2>
        </div><!-- #title -->
    </section><!-- #promo -->
{% endblock %}


{% block content %}
    <section id="content">

        <h2>Lorem Ipsum Dolor Sit Amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nibh et nisl tincidunt aliquet vel non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in velit eget nunc accumsan vehicula. Nunc tincidunt, erat eu vulputate aliquam, lacus dolor bibendum urna, non semper elit ante ac tortor. Etiam nulla odio, elementum ac rhoncus quis, congue quis enim. Sed venenatis, nunc quis scelerisque convallis, metus nulla mattis lectus, nec commodo ante enim ut dolor. Morbi aliquet dictum sem, sed venenatis mauris ornare vitae. Curabitur et purus a nisl dignissim ornare. Integer sit amet sapien in erat vulputate adipiscing.</p>

        <p>Duis dolor velit, sagittis vel hendrerit eget, euismod vitae mauris. Nulla facilisi. Proin auctor, lectus vel tristique rhoncus, leo magna congue diam, eget sagittis ipsum metus sed turpis. Phasellus dignissim felis ut nisi consectetur consectetur. Mauris a est quis mauris elementum tempus. Sed sed lectus odio, ac pellentesque nunc. Aliquam massa arcu, condimentum ac porttitor a, vehicula eget tortor. Maecenas scelerisque porttitor odio eu eleifend. Etiam euismod tempor sapien, sit amet porttitor tortor ultricies ut. Proin vestibulum gravida fringilla. Mauris auctor rhoncus purus sollicitudin tincidunt. Integer porta quam quis arcu porttitor porttitor. Duis ullamcorper semper est, ac dignissim tortor fermentum eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus adipiscing, lorem id rhoncus laoreet, libero nibh tempor leo, eget egestas diam metus sit amet elit.</p>

    </section><!-- #content -->
{% endblock %}
