{% extends "base.html" %}

{% block title %}Download{% endblock %}

{% block header %}
    <section id="page-title">
        <img class="harvest-box" src="{{ STATIC_URL }}images/box-download.png" alt="Demo">
        <hgroup>
            <h1>Download</h1>
            <h2>Get Your Hands Dirty</h2>
        </hgroup>
    </section>
{% endblock %}


{% block content %}
    <section id=content>
{% filter restructuredtext %}
Outline
-------
- `Clone from GitHub`_ (recommended)

Clone from GitHub
-----------------
Keep up with bug fixes and new features incrementally by starting your
project as a cloned (or forked project if on GitHub) from the Harvest
git repository. Why?

- Any upstream changes we make for various bug fixes and new features can be
  easily applied to your Harvest build with minimal or no effort.
- You start off immediately versioning your code which is a best (necessary)
  practice for software development.
- This is not only for bleeding edge usage of Harvest. Using this method, you
  can choose with version (old or new) of Harvest you want to use

Follow these simple steps:

1. Create a new empty project

.. class:: prettyprint linenums

::

    git init my-harvest-project
    cd my-harvest-project

2. Add the **upstream** repository and fetch it

.. class:: prettyprint linenums

::

    git remote add upstream git://github.com/cbmi/harvest-template.git
    git fetch upstream

3. Merge the lastest version into your local repository. If you prefer a tagged
   release (the master branch is very stable), you can replace ``master``
   with the lastest tag.

.. class:: prettyprint linenums

::

    git merge upstream/master

4. Add the **origin** server (where you want to push your changes to)

.. class:: prettyprint linenums

::

    git remote add origin YOUR_REMOTE_URL
    git push -u origin master

{% endfilter %}
    </section>
{% endblock %}
