{% extends "base.html" %}

{% block title %}Download{% endblock %}

{% block header %}
    <section id="page-title">
        <img class="harvest-box" src="{{ STATIC_URL }}images/box-download.png" alt="Demo">
        <hgroup>
            <h1>Download</h1>
            <h2>Get Your Hands Dirty</h2>
        </hgroup>
    </section>
{% endblock %}


{% block content %}
    <section id=content>

        <h2>Prerequisites</h2>

        <p><strong>Harvest requires Python 2.6 or 2.7.</strong> Check to see which
        version of Python you have:</p>

<pre class="prettyprint linenums lang-bsh">
python --version
</pre>

        <div class="alert alert-block alert-info">
            <strong>Required stdlib modules.</strong> Harvest depends on the SSL
            and SQLite modules to be built in the standard library. If you are
            building Python from source, the OpenSSL and SQLite C headers must
            be installed prior to building Python. On CentOS, these are the
            <code>sqlite-devel</code> and <code>openssl-devel</code> packages.
        </div>

        <p>In order to install the Harvest package, Pip or setuptools must
        be installed. Check for either command.</p>

<pre class="prettyprint linenums lang-bsh">
which pip easy_install
</pre>
        <p>If <strong>nothing prints out</strong>, then do the following to
        get Pip (the preferred installer). Note, you may have to do
        <code>sudo python</code> if you are installing it globally on your
        system.</p>

<pre class="prettyprint linenums lang-bsh">
curl http://python-distribute.org/distribute_setup.py | python
curl https://raw.github.com/pypa/pip/master/contrib/get-pip.py | python
</pre>

<div class="alert alert-block alert-info">
    <strong>Watch out for sudo!</strong> The root user <code>$PATH</code> most
    likely does not include <code>/usr/local/bin</code>. If you did not install
    Python through your distro's package manager, use the absolute path to
    the new Python binary to prevent installing the above libraries with the
    wrong version (like Python 2.4 on CentOS 5), e.g. <code>/usr/local/bin/python2.7</code>.
</div>

        <h2>Install</h2>

        <p>The Harvest package is availble on <a href="http://pypi.python.org/pypi/harvest">PyPi</a>
        and can be installed using Pip or easy_install. Again, you may need to prefix this
        with <code>sudo</code> if this is being installed globally on your system.</p>

        <div class=row-fluid>
            <div class=span6>
            <strong>Pip</strong>
<pre class="prettyprint linenums lang-bsh">
pip install harvest
</pre>
            </div>
            <div class=span6>
            <strong>easy_install</strong>
<pre class="prettyprint linenums lang-bsh">
easy_install harvest
</pre>
            </div>
        </div>

        <h2>Setup A New Project</h2>

        <p>Harvest comes with a command-line tool that sets up new projects
        with one command.</p>

<pre class="prettyprint linenums lang-bsh">
harvest init myproject
</pre>

        <h2>Install the Demo</h2>

        <p>The demo can also be installed with one line.</p>

<pre class="prettyprint linenums lang-bsh">
harvest init-demo openmrs
</pre>

        <p>For full details on the available commands and options run <code>harvest --help</code>
        or for help with a specific command, run <code>harvest [command] --help</code>. The
        command documentation is also available on the
        <a href="http://cbmi.github.com/harvest">Harvest Github pages</a>.</p>

    </section>
{% endblock %}