// Bourbon mixins
@import "bourbon/bourbon";

header {
    h1 {
    	font-size: 43px;
    	color: #fff;
    	margin: 5px 0;
    }
    
    h2 {
    	font-size: 26px;
    	color: #ee9934;
    }

    nav {
    	margin: 20px auto 50px auto;
    	
    	.harvest-box {
    	    @include inline-block;
        	margin: 0 30px;

            h3 {
                margin-top: 0;
                
                a {
                    .sprite {
                    	background:url('../../../images/promo_sprite.png') no-repeat;                        
                    	display: block;                	
                    	margin-bottom: 10px;
                    }

                	font-size:25px;
                	color:#ff9933;

                    &:hover {
                        cursor: pointer;
                        text-decoration: none;                        
                    }
                }                
            }

            h5 {
                line-height: inherit;
            	color: #fff;
                font-family: inherit;
            	font-size: 13px;
            	font-weight: normal;
            }

            &.harvest-demo h3 a {
                .sprite {
                    margin: 0 0 0 5px;
                	width: 200px;
                	height: 123px;
                	background-position: 0px 0px;
                }
                
                &:hover .sprite { background-position: -210px 0px; }
            }

            &.get-started {
                h3 a {
                    .sprite {
                        margin: 0 0 6px 10px;
                        width: 200px;
                        height: 176px;
                        background-position: 0px -133px;
                    }
                    
                    &:hover .sprite { background-position: -210px -133px; }
                }
            }
            
            &.download h3 a {
                .sprite {
                    margin-bottom: 1px;
                	width: 200px;
                	height: 176px;
                	background-position: 0px -319px;
                }
                
                &:hover .sprite { background-position: -210px -319px; }
            }
    	}
    }    
}

#tagline {
    @include box-shadow(0 1px 10xp #333);
	background: #333;
	padding: 20px 40px;
	text-shadow: 0 1px 0 #000;
	text-align: center;

    h2 {
        font-size: 20px;
    	color: #fff;
        margin: 0;
    }
}

#content {
    padding: 20px 40px 10px 40px;

    h2 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    
    > div {
        @include inline-block;
        margin: 10px 0;
        max-width: 428px;

        &:nth-child(odd) {
            margin-right: 20px;
        }
    }
}

.pagewrap-wide {
    top: -112px;
    margin-bottom: -112px;
}

#whats-inside {
	margin: 0 40px 20px 40px;
    padding: 20px 0;
	border-top: 1px dotted #aaa;
	display: block;

    .whats-inside-logo {
        margin: 0 auto;
    	display: block;
    }

    h2.title {
    	text-align: center;
    	font-size: 23px;
    	color: #333;
    	margin: 7px auto 13px auto;
    }
    
    ul {
    	margin: 0 auto;
    	text-align: center;

        li {
            @include inline-block;
        	list-style-type: none;
        	margin: 10px 20px;
        	vertical-align: middle;
        }
        
        li: hover { cursor: pointer; }
    }

    li a {
    	text-indent: -9998px;
    	overflow: hidden;
    	display: block;
    	background: url('../../../images/whats_inside_sprite.gif') no-repeat;
    }
    
    li.html5 a {
    	width: 57px;
    	height: 51px;
    	background-position: 0px 0px;
    	
    	&:hover { background-position: -229px 0px; }
    }
    
    li.django a {
    	width: 95px;
    	height: 34px;
    	background-position: 0px -61px;
    	
    	&:hover { background-position: -232px -61px; }
    }
    
    li.python a {
    	width: 122px;
    	height: 36px;
    	background-position: 0px -105px;
    	
    	&:hover { background-position: -229px -105px; }
    }
    
    li.jquery a {
    	width: 136px;
    	height: 34px;
    	background-position: 0px -150px;
    	
    	&:hover { background-position: -229px -150px; }
    }
    
    li.osi a {
    	width: 91px;
    	height: 27px;
    	background-position: 0px -407px;
    	
    	&:hover { background-position: -229px -407px; }
    }
    
    li.coffeescript a {
    	width: 219px;
    	height: 38px;
    	background-position: 0px -194px;
    	
    	&:hover { background-position: -232px -194px; }
    }
    
    li.requirejs a {
    	width: 55px;
    	height: 62px;
    	background-position: 0px -242px;
    	
    	&:hover { background-position: -229px -242px; }
    }
    
    li.backbonejs a {
    	width: 180px;
    	height: 35px;
    	background-position: 0px -314px;
    	
    	&:hover { background-position: -229px -314px; }
    }
    
    li.highchartjs a {
    	width: 190px;
    	height: 38px;
    	background-position: 0px -359px;
    	
    	&:hover { background-position: -229px -359px; }
    }
}
