<div id=footer>
    <div class=container>
        <div class=row>
            <div class="col-sm-6">
                <h4><i class=harvest-logo-16></i> Harvest</h4>

                <p>&copy; 2011-{{ site.time | date: "%Y" }} All Rights Reserved.</p>

                <p>Brought to you by the fine folks in the <a href="http://cbmi.chop.edu" target=_blank>Center for Biomedical Informatics</a> at <a href="http://www.research.chop.edu" target=_blank>The Children's Hospital of Philadelphia Research Institute</a>.</p>
            </div>
            <div class="col-sm-6">
                <h4>In The Community</h4>

                <ul class=list-unstyled>
                    <li><i class=icon-google-plus></i> - Join the discussion on the <a href="https://groups.google.com/forum/#!forum/harveststack">Harvest Google Group</a>.</li>
                    <li><i class=icon-twitter></i> - Follow <a href="https://twitter.com/HarvestNews" title="Follow us on Twitter"> @HarvestNews</a> for updates on bug fixes, new releases, and general news.</li>

                    <li><i class=icon-github></i> - Watch the <a href="https://github.com/cbmi/harvest/" title="Harvest">Harvest</a>, <a href="https://github.com/cbmi/avocado/" title="Avocado">Avocado</a>, <a href="https://github.com/cbmi/serrano/" title="Serrano">Serrano</a>, and <a href="https://github.com/cbmi/cilantro/" title="Cilantro">Cilantro</a>
                repos on GitHub.</li>
                </ul>

                <p>The Harvest Stack including <a href="http://avocado.harvest.io">Avocado</a>, <a href="http://cilantro.harvest.io">Cilantro</a>, and <a href="http://serrano.harvest.io">Serrano</a> are licensed under the <a href="http://www.opensource.org/licenses/BSD-2-Clause">BSD 2-Clause License</a>.</p>
            </div>
        </div>
    </div>
</div>
