<div id=header class="navbar navbar-default navbar-static-top">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class=navbar-header>
        <a class=navbar-brand href={{ site.baseurl }}>
            <i class=harvest-logo-24></i> {{ site.name }}
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="{{ site.baseurl }}demos/"><i class="fa fa-cloud"></i> <span class="hidden-sm">Demos</span></a></li>
            <li><a href="{{ site.baseurl }}docs/"><i class="fa fa-book"></i> <span class="hidden-sm">Docs</span></a></li>
            <li><a href="{{ site.baseurl }}download/"><i class="fa fa-download"></i> <span class="hidden-sm">Download</span></a></li>
            <li><a href="{{ site.baseurl }}articles/"><i class="fa fa-file-text"></i> <span class="hidden-sm">Articles</span></a></li>
            <li><a href="{{ site.baseurl }}webinars/"><i class="fa fa-play-circle"></i> <span class="hidden-sm">Webinars</span></a></li>
            <li><a href="{{ site.baseurl }}about/"><i class="fa fa-info-circle"></i> <span class="hidden-sm">About</span></a></li>
            <li><a href="{{ site.baseurl }}resources/"><i class="fa fa-archive"></i> <span class="hidden-sm">Resources</span></a></li>
            <li><a href="{{ site.baseurl }}contact/"><i class="fa fa-envelope"></i> <span class="hidden-sm">Contact</span></a></li>
        </ul>
    </div>
</div>

<div id=attribution>
    Developed by <a href="http://cbmi.chop.edu" target=_blank><span class=cbmi-logo></span></a>
    at <a href="http://www.research.chop.edu" target=_blank>The Children's Hospital of Philadelphia Research Institute</a>
</div>
