<div id=header class="navbar navbar-default navbar-static-top">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class=navbar-header>
        <a class=navbar-brand href={{ site.baseurl }}>
            <i class=harvest-logo-24></i> {{ site.name }}
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="{{ site.baseurl }}"><i class="icon-home"></i> Home</a></li>
            <li><a href="{{ site.baseurl }}demo/"><i class="icon-cloud"></i> Demo</a></li>
            <li><a href="{{ site.baseurl }}docs/"><i class="icon-book"></i> Docs</a></li>
            <li><a href="{{ site.baseurl }}download/"><i class="icon-download-alt"></i> Download</a></li>
            <li><a href="{{ site.baseurl }}articles/"><i class="icon-file-text"></i> Articles</a></li>
            <li><a href="{{ site.baseurl }}about/"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="{{ site.baseurl }}contact/"><i class="icon-envelope"></i> Contact</a></li>
        </ul>
    </div>
</div>
