{% extends "get-started/index.html" %}

{% block title %}Your Data{% endblock %}

{% block header %}
    <section id="page-title">
        <img class="harvest-box" src="{{ STATIC_URL }}images/box-get-started.png" alt="Demo">
        <hgroup>
            <h1>Use <em>Your</em> Data</h1>
            <h2>Make Something Happen</h2>
        </hgroup>
    </section>
{% endblock %}


{% block content %}
    <section id="content">

        <nav id=get-started-navigation>
            <ul class=unstyled>
                <li class="explore-the-demo"><a href={% url page "get-started/explore" %}>Explore the Demo</a></li><!-- adding class "active" to A tag sets active state -->
                <li class="use-your-data"><a class=active href={% url page "get-started/your-data" %}>Use Your Data</a></li>
                <li class="deploy"><a href={% url page "get-started/deploy" %}>Deploy</a></li>
                <li class="now-what"><a href={% url page "get-started/now-what" %}>Now What?</a></li>
            </ul>
        </nav>
        
        <h1>Outline</h1>

        <ul>
            <li><a href=#before-you-start>Before You Start</a></li> 
            <li><a href=#modeling-your-data>Modeling Your Data</a></li>
            <li><a href=#creating-metadata>Creating and Customizing Metadata</a></li>
        </ul>
        
        <h1 id=before-you-start>Before You Start</h1>
            <h2>A Word on Data Quality</h2>
            <h2>Data Models</h2>
            <h2>Considerations for Healthcare Data Models</h2>
     
        <h1 id=modeling-your-data>Modeling Your Data</h1>
            <h2>Django Models</h2>
            <h2>Starting from a Clean Slate</h2>
            <h2>Using an Existing Database Schema with InspectDB</h2>
            <h2>Loading Data</h2>

        <h1 id=creating-metadata>Creating and Customizing Metadata</h1>
            <h2>Fields</h2>
            <h2>Making Categorical Data Easier to use with Choices</h2>
            <h2>Concepts</h2>
            <h2>Names, Descriptions, and Keywords</h2>
            <h2>Formatters<h2>


    </section>
{% endblock %}
