@media screen and (max-width: 480px) {
    footer {
        section {
            min-width: 200px;
            text-align: center;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    #get-started-navigation ul li {
        margin-left: 0;
        margin-bottom: 5px;
        display: block;
    }

}

@media screen and (max-width: 775px) {
    #topbar-container {
        height: 58px;
    }

    #topbar {
        a {
            &.cbmi, &.chop-research {
                position: static;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
