// Bourbon mixins and Bootstrap foundation
@import "bourbon/bourbon";
@import "bootstrap/bootstrap";

// Google code prettifier
@import "prettify";

// General site-wide styles
@import "general";

// Top bar containing institutional logos and links
@import "layout/topbar";

// Header which states the current page and simple navigation
@import "layout/header";

@import "layout/content";

// Footer which contains the site navigation, copyright and license
// information and third-party links
@import "layout/footer";


.pagewrap-container {
	background: #edeae3 url('../../images/bg_pagewrap_container.gif') repeat-x;
}

.pagewrap-wide {
    @include box-shadow(0 1px 10px hsla(0, 0, 0, 0.5));
    text-shadow: 0 1px 0 #fff;
    margin: 0 auto;
    max-width: 960px;
    background-color: #f9f9f9;
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
}

ul, li, p {
    color: black;
}