{% extends "base.html" %}

{% block title %}Get Started{% endblock %}

{% block styles %}
    <link rel=stylesheet href={{ CSS_URL }}page/get-started.css>
{% endblock %}

{% block header %}
    <section id="page-title">
        <img class="harvest-box" src="{{ STATIC_URL }}images/box-get-started.png" alt="Demo">
        <hgroup>
            <h1>Get Started</h1>
            <h2>Introduction &amp; Tutorials</h2>
        </hgroup>
    </section>
{% endblock %}


{% block content %}
    <section id="content">
        {% include "snippets/get_started_nav.html"  %}

        <h2>What is Harvest?</h2>

        <p> Harvest is an <strong>open source framework</strong> for developing web applications for <strong>biomedical data discovery</strong>. Harvest grew out of our desire to create purpose-built data discovery applications for multiple projects while avoiding the pitfalls of trying to build a large, monolithic application that attempts to be all things to all people.</p>

        <p>Harvest is not a "shrink-wrapped" piece of software in the sense that it can be installed and configured by the average end-user. Instead, it is designed to be installed and customized by software developers and informatics personnel. For some uses, a little bit of programming will be needed to develop custom components for your specific scenario. However, even out of the box, you should be able to adapt Harvest to a variety of scenarios with little trouble. Our goal is that as Harvest is used in more and more projects, additional components will be made available to the community that address common needs.</p>


        <hr>

        <h2>Brief Technical Overview</h2>

        <p>Harvest relies heavily on the popular <a href="https://www.djangoproject.com/">Python Django web framework</a>. Knowledge of Django is important for really understanding Harvest. However, Django is renowned for its <a href="https://docs.djangoproject.com/">excellent documentation</a>, so it's possible to learn Harvest and Django at the same time. The Harvest Stack is composed of three core components.</p>

        <h3>Avocado</h3>

        <p>Avocado is without a doubt the most important part of the framework. It provides <strong>the metadata abstraction layer</strong> that allows Harvest applications to hide the complexity of the underlying relational database models. The tutorials show how some of this works, but many of the technical details can be found in the standalone <a href="http://avocado.harvest.io">Avocado documentation</a>.</p>

        <h3>Serrano</h3>

        <p>Serrano is a <strong>REST API that exposes URL endpoints to enable clients to consume the data encapsulated by Avocado</strong>. Additionally, Serrano is responsible for managing persistence for Harvest applications. In addition to standard HTML, Serrano is able to provide alternate data representations and formats such as those required for Excel, SAS, and R. Serrano's API is <a href="http://serrano.harvest.io">fully documented</a> to encourage the development of fit for purpose Harvest clients (e.g. native mobile applications) that provide some or all of the functionality provided by the standard Cilantro client (below) that ships with Harvest.</p>

        <h3>Cilantro</h3>

        <p>Cilantro is an <strong>HTML5/JavaScript client</strong> that generates and displays histograms, bar charts, and pie charts for suitable database fields in real time, allowing users to see a profile of specific data elements even before constructing formal queries. <strong>This is the default user interface for Harvest that is designed to work well for a majority of typical data discovery use cases.</strong> For more information on the technical details, see the <a href="http://cilantro.harvest.io">Cilantro developer docs</a>.</p>

        <hr>

        <h2>Want to Learn More?</h2> 

        <p>The Harvest documentation is broken up into
        sections, each gradually introducing the layers of Harvest and the various ways to
        customize and specialize a Harvest instance for your purposes.</p>

        {% include "snippets/get_started_nav.html"  %}

        <section class="get-started-info">
            <section class=gray>
                <hgroup>
                    <h3> <a href={% url page "get-started/install" %}>Install the Demo</a></h3>
               </hgroup>
                <ul>
                    <li>How to setup a simple local instance of Harvest using the OpenMRS demo data</li>
                    <li>Understand the high level components of The Stack and how they interact</li>
                    <li>Introduction to Translators, Query Views and Formatters</li>
                    <li>Add simple customizations to the interface</li>
                </ul>
            </section>

            <section class=blue>
                <hgroup>
                    <h3><a href={% url page "get-started/your-data" %}>Use Your Data</a></h3>
                </hgroup>
                <ul>
                    <li>Considerations of how a database schema impacts its utility in Harvest</li>
                    <li>How to build and populate your data's metadata index (easier than you think)</li>
                    <li>How to approach defining Concepts</li>
                    <li>Writing Query Views and Formatters appropriate for your data</li>
                </ul>
            </section>
            <section class=red>
                <hgroup>
                    <h3><a href={% url page "get-started/now-what" %}>Now What?</a></h3>
                </hgroup>
                <ul>
                    <li>Deploying production versions of the application</li>
                    <li>Getting in touch with the core team</li>
                    <li>What are we working on now?</li>
                </ul>
            </section>

        </section>

    </section>


    <!--
    <section class="technical-docs clearfix">
        <h2>Technical Documentation</h2>
        <div class="one-half first">
            <p>
                <a href="#link" title="ModelTree">ModelTree:</a> the "engine" behind Avocado which contains adds an additional layer to the Django ORM for auto-joining database&nbsp;tables
            </p>
        </div>

        <div class="one-half">
            <p>
                <a href="#link" title="Serrano">Serrano:</a> a RESTful API exposing various parts of Avocado allows for programmatic access to the&nbsp;metadata
            </p>
        </div>

        <div class="one-half first">
            <p>
                <a href="#link" title="Avocado">Avocado:</a> the metadata management app and extension to ModelTree which defines the organizational data structures such as <strong>Definition</strong>, <strong>Concept</strong>, and&nbsp;<strong>Domain</strong>
            </p>
        </div>

        <div class="one-half">
            <p>
                <a href="#link" title="Cilantro">Cilantro:</a> an in-browser Web application interface which talks to the Serrano exposed REST API for graphical querying and viewing&nbsp;data
            </p>
        </div>

    </section><!-- .technical-docs -->
{% endblock %}

