{% extends "base.html" %}

{% block title %}Get Started{% endblock %}

{% block styles %}
    <link rel=stylesheet href={{ CSS_URL }}page/get-started.css>
{% endblock %}

{% block header %}
    <section id="page-title">
        <img class="harvest-box" src="{{ STATIC_URL }}images/box-get-started.png" alt="Demo">
        <hgroup>
            <h1>Get Started</h1>
            <h2>Introduction &amp; Tutorials</h2>
        </hgroup>
    </section>
{% endblock %}


{% block content %}
    <section id="content">

        <nav id=get-started-navigation>
            <ul class=unstyled>
                <li class="explore-the-demo"><a href={% url page "get-started/explore" %}>Explore the Demo</a></li><!-- adding class "active" to A tag sets active state -->
                <li class="use-your-data"><a href={% url page "get-started/your-data" %}>Use Your Data</a></li>
                <li class="deploy"><a href={% url page "get-started/deploy" %}>Deploy</a></li>
                <li class="now-what"><a href={% url page "get-started/now-what" %}>Now What?</a></li>
            </ul>
        </nav>

        <h1>Introduction</h1>

        <p>The <strong>Get Started</strong> section is broken up into <strong>four</strong>
        sections, each gradually introducing the layers of Harvest and the various ways to
        customize and specialize a Harvest instance for your purposes.</p>

        <section class="get-started-info">

            <section class=gray>
                <hgroup>
                    <h2>Explore the Demo</h2>
                    <a href={% url page "get-started/explore" %}>Read this section</a>
                </hgroup>
                <ul>
                    <li>How to setup a simple local instance of Harvest using the USDA demo data</li>
                    <li>Understand the high levels components of The Stack and how they interact</li>
                    <li>Introduction to Translators, Query Views and Formatters</li>
                    <li>Add simple customizations to the interface</li>
                </ul>
            </section>

            <section class=blue>
                <hgroup>
                    <h2>Use Your Data</h2>
                    <a href={% url page "get-started/your-data" %}>Read this section</a>
                </hgroup>
                <ul>
                    <li>Considerations of how a database schema impacts it's utility in Harvest</li>
                    <li>How to build and populate your data's metadata index (easier than you think)</li>
                    <li>How to approach defining Concepts</li>
                    <li>Writing Query Views and Formatters appropriate for your data</li>
                </ul>
            </section>

            <section class=green>
                <hgroup>
                    <h2>Deploy</h2>
                    <a href={% url page "get-started/deploy" %}>Read this section</a>
                </hgroup>
                <ul>
                    <li>Deployment environments</li>
                    <li>Scalability</li>
                    <li>Upgrades and migrations</li>
                </ul>
            </section>

            <section class=red>
                <hgroup>
                    <h2>Now What?</h2>
                    <a href={% url page "get-started/now-what" %}>Read this section</a>
                </hgroup>
                <ul>
                    <li>Writing complex Translators and integrating your own Exporters</li>
                    <li>How to contribute.</li>
                </ul>
            </section>

        </section>

    </section>

    <!--
    <section class="technical-docs clearfix">
        <h2>Technical Documentation</h2>
        <div class="one-half first">
            <p>
                <a href="#link" title="ModelTree">ModelTree:</a> the "engine" behind Avocado which contains adds an additional layer to the Django ORM for auto-joining database&nbsp;tables
            </p>
        </div>

        <div class="one-half">
            <p>
                <a href="#link" title="Serrano">Serrano:</a> a RESTful API exposing various parts of Avocado allows for programmatic access to the&nbsp;metadata
            </p>
        </div>

        <div class="one-half first">
            <p>
                <a href="#link" title="Avocado">Avocado:</a> the metadata management app and extension to ModelTree which defines the organizational data structures such as <strong>Definition</strong>, <strong>Concept</strong>, and&nbsp;<strong>Domain</strong>
            </p>
        </div>

        <div class="one-half">
            <p>
                <a href="#link" title="Cilantro">Cilantro:</a> an in-browser Web application interface which talks to the Serrano exposed REST API for graphical querying and viewing&nbsp;data
            </p>
        </div>

    </section><!-- .technical-docs -->
{% endblock %}

